<% layout("/layouts/boilerplate") %>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/ls">
      <div>
        <label for="title" class="form-label"> Title </label>
        <input name="listing[title]" placeholder="enter title" type="text" class="form-control" />
      </div>
      
      <div>
        <label for="description" class="form-label"> Description </label>
        <textarea name="listing[description]" class="form-control"></textarea>
      </div>
    
      <div>
        <label for="image" class="form-label">Image Link</label>
        <input name="listing[image]" placeholder="enter image url" type="text" class="form-control" />
      </div>

      <div> 
        <label for="price" class="form-label"> Price </label>
        <input name="listing[price]" placeholder="enter price" type="number" class="form-control" min="0" />
      </div>
    
      <div>
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="enter country" type="text" class="form-control" />
      </div>
      
      <div> 
        <label for="location" class="form-label">City/Region</label>
        <input name="listing[location]" placeholder="enter location" type="text" class="form-control" />
      </div>

      <br><br>
      <button class="btn btn-dark">Add</button>
    </form>
  </body>
</html>
